@inject IModalService Modal

<div class="col-12">
    <div class="admin-article-item shadow-soft mb-3">
        <div class="row p-2">
            <div class="col-12 col-sm-6">
                <a href="@("admin/article/" + ArticleId + "/" + Url)">
                    <h2 class="h5 mb-1">@Title</h2>
                    <p class="search-item__item-date text-dark mb-0">@Created.ToString("dd. MM. yyyy")</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 text-right mt-4">
                <a href="@("article/" + ArticleId + "/" + Url)" class="btn btn-teal btn-sm mb-1">Zobrazit<i class="far fa-eye ml-2"></i></a>
                <a href="@("admin/article/" + ArticleId + "/" + Url)" class="btn btn-teal btn-sm mb-1">Editovat<i class="far fa-edit ml-2"></i></a>
                <button class="btn btn-danger btn-sm mb-1" onclick="@ShowDeleteArticleModal">Smazat<i class="far fa-trash-alt ml-2 mb-1"></i></button>
            </div>
        </div>
    </div>
</div>

@functions {
    [Parameter]
    public int ArticleId { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public DateTime Created { get; set; }

    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public Action OnArticleDelete { get; set; }

    private void ShowDeleteArticleModal()
    {
        var parameters = new ModalParameters();
        parameters.Add("ArticleId", ArticleId);
        parameters.Add("Title", Title);

        Modal.OnClose += DeleteArticleModalClosed;
        Modal.Show("Smazání článku", typeof(DeleteArticleModalContent), parameters);
    }

    private void DeleteArticleModalClosed()
    {
        OnArticleDelete();
        Modal.OnClose -= DeleteArticleModalClosed;
    }
}
